<html>
    <head>
        <title>DASHBOARD</title>
        <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">
    </head>
    <body>
        <img class="logo" src="../static/image/localsore2.png">
        <nav class="nav1">
            <h1>ADMIN PANEL</h1>
             <ul>
                 
                 <li><a href={{"/mainhome"}}>HOME</a></li>
                 <li><a href="#">ABOUT</a></li>
                 <li><a href="#">CONTACT</a></li>
                 
             </ul>
             
             
         </nav>
         <label>
            <span>store img</span>
           <input type="file" name="storeimg">
           <button type="submit" name="submit">submit</button>
        </label>
        
    </body>
</html>